/* ALL BODY */
* {
	font-family: 'Bellota Text', cursive;
	font-size: 20px;
	background-color:;
}
/* NAME IN NAVBAR */
#titulo {
	font-family: 'Fredericka the Great', cursive;
}
/* NAVBAR */
.nav-link {
	font-family: 'Exo 2', sans-serif;
}
.nav-link:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.dropdown-item {
	font-family: 'Exo 2', sans-serif;
}
/* CAROUSEL */
.carousel-margin {
	margin-bottom: 3vh;
}
/* CARDS */
.cards {
	margin-bottom: 3px;
}
/* BASIC STYLES */
.centralizer {
	text-align: center;
	margin: auto;
}
.inline-item {
  display: inline-block; 
}
.bg-darker {
	background-color: #0e1111;
}
.bg-whiter {
	background-color: #f9f9f9;
}
.color-white {
	color: #fff;
}
/* FLOATERS ON RIGHT SIDE */
.whatsapp_float {
	display: block;
	cursor: pointer;
	position: fixed;
	bottom: 5%;
	right: 2.5%;
	z-index: 9999;
}
.instagram_float {
	display: block;
	cursor: pointer;
	position: fixed;
	bottom: 15%;
	right: 2.5%;
	z-index: 9999;
	border-color: #f9f9f9;
	border: 16px !important;
}
/* LINKS WITHOUT "BLUE" */
a, a:hover {
    color: inherit;
}